<% provide(:title, 'All users') %>
<h1>All users</h1>

<center><%= search_form_for @q do |f| %>

  <%= f.label :name_cont %>
  <%= f.search_field :name_cont %>

  <%= f.submit %>
<% end %></center>


<center><%= will_paginate %></center>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Email</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= gravatar_for user, size: 30 %></td>
        <td><%= link_to user.name, user %></td>
        <td><%= link_to user.email, user%></td>
        <td>
           <% if current_user.admin? &&  !current_user?(user) %>
             <%= link_to user, method: :delete, data: { confirm: "You sure?" } do %>
                <i class="fa fa-trash-o"></i>
             <% end %>   

           <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<center><%= will_paginate %></center>

