<% provide(:title, 'All Novels')%>
<h1>Listing novels</h1>

<div class="row"><div class="col-md-6 col-md-offset-3"><center><%= search_form_for @q do |f| %>

  <%= f.label :title_cont%>
  <%= f.search_field :title_cont, class: 'form-control'%>

  <%= f.submit class: "btn-btn-primary" %>
<% end %>

<%= will_paginate %></center></div></div>


<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @novels.each do |novel| %>
      <tr>
        <td><%= novel.title %></td>
        <td><%= novel.author %></td>
        <td><%= novel.description %></td>
        <td title="Show novel"><%= link_to novel do %><i class="fa fa-eye"></i>
            <% end %></td>
        <td title="Edit novel"><%= link_to edit_novel_path(novel) do %><i class="fa fa-pencil"></i>
            <% end %> </td>
        <td title="Delete"><%= link_to novel, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fa fa-trash-o"></i>
        <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<center><%= will_paginate %></center>

<left>
<%= link_to new_novel_path do %><i class="fa fa-plus-circle fa-4x"></i>
<% end %>
</left>

